xsd/fib.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FibonacciResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="contact"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="phone"/>
              <xs:element type="xs:string" name="date"/>
              <xs:element type="xs:string" name="requestIP"/>
              <xs:element type="xs:string" name="requestUrl"/>
              <xs:element type="xs:string" name="responseStatus"/>
			  <xs:element type="xs:string" name="responseMsg"/>
              <xs:element type="xs:integer" name="resultsCount"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="fibonacci">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:integer">
                      <xs:attribute type="xs:integer" name="index"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>